<h1><%= title %></h1>

<%- messages() %>

<form id="updateForm" action="/inv/update" method="post">
<fieldset>
    <legend>
        Modifying Vehicle
    </legend>
    <label for="ClassificationList">Classification</label><br>
    
    <div id="class-selection"><%- classificationList %><br></div>
    
    <label for="inv_make">Make</label><br>
    <input type="text" name="inv_make" id="inv_make"  value="<%= locals.inv_make %>" required><br>

    <label for="inv_model">Model</label><br>
    <input type="text" name="inv_model" id="inv_model"  value="<%= locals.inv_model %>" required><br>

    <label for="inv_year">Year</label><br>
    <input type="number" name="inv_year" id="inv_year"  value="<%= locals.inv_year %>" required><br>

    <label for="inv_description">Description</label><br>
    <textarea name="inv_description" id="inv_description" required value= "<%= locals.inv_description %>"></textarea><br>

    <label for="inv_image">Image Path</label><br>
    <input type="text" name="inv_image" id="inv_image" value="<%= locals.inv_image%>" required><br>

    <label for="inv_thumbnail">Thumbnail Path</label><br>
    <input type="text" name="inv_thumbnail" id="inv_thumbnail" value="<%= locals.inv_thumbnail %>" required><br>

    <label for="inv_price">Price</label><br>
    <input type="number" name="inv_price" id="inv_price" step="0.01" value="<%= locals.inv_price %>" required><br>

    <label for="inv_miles">Miles</label><br>
    <input type="number" name="inv_miles" id="inv_miles" value="<%= locals.inv_miles %>" required><br>

    <label for="inv_color">Color</label><br>
    <input type="text" name="inv_color" id="inv_color" value="<%= locals.inv_color %>" required><br>

    <button type="submit" name="submit" value="Update Vehicle" disabled>Modify Vehicle</button><br>
    <input type="hidden" name="inv_id"
    <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
    <% } %>>
</fieldset>
</form>

<script src="/js/inv-update.js"></script>